.mdc-image-list--masonry {
    display: block;
}
.mdc-image-list {
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
}
.masonry-image-list {
    column-count: 4;
    max-width: 1100px;
}
@media(max-width: 700px){
	.masonry-image-list {
    column-count: 3;
   
   
}

}
@media(max-width: 500px){
	.masonry-image-list {
    column-count: 2;
   
 
}

}